<div *ngFor="let r of objDataMiddle; let i=index">
  <app-profile [objProfile]="r"></app-profile>
  
  <div *ngIf="r.category.type==0">
    <app-image [objDataImg]="r"></app-image>
  </div>
  <div *ngIf="r.category.type==1">
    <app-text [objDataTxt]="r"></app-text>
  </div>
  <div *ngIf="r.category.type==2">
    <app-quest [objDataPole]="r"></app-quest>
  </div>
  <app-likes [objLikes]="r.like"></app-likes>
  <app-comments [objComments]="r.comments"></app-comments>
  <br>
  <hr>
  <br>
</div>
