<div class="title">
  Post :
</div>
<div>
  <input type="radio" value="0"> Text
  <input type="radio" value="1"> Image
  <input type="radio" value="2"> Pole
</div>
<div>
  <input type="text" name="Title" placeholder="Title">
</div>
<div>
  <input type="text" name="imgFile" placeholder="Image">
</div>
<div>
  <input type="text" name="Pole1" placeholder="Option 1">
  <input type="text" name="Pole2" placeholder="Option 2">
  <input type="text" name="Pole3" placeholder="Option 3">
</div>
<input type="submit" value="Save">